{% extends './base.html' %}
{% load static %}

{% block title %}
    Archive [Search]
{% endblock %}
{% block header %}
    {% include './blocks/search_form.html' %}
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb" class="mt-4">
                    <ol class="breadcrumb">
                        {% if languages %}
                        <li class="breadcrumb-item"><span>Found:</span></li>
                        {% else %}
                        <li class="breadcrumb-item"><span>Nothing found</span></li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
        {% if languages %}
        <table class="table">
          <tbody>
            {% for language in languages %}
              <tr>
                <td>
                    <a href="/language/{{ language.iso }}">
                        <h5>{{ language.language_name }}</h5>
                        <h6>Language of {{ language.language_of }}</h6>
                    </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>



{% endblock %}